/********* TAG SELECTORS **********/

a {
    text-decoration: none;
}

body {
    background-color: #EDF1D6;
}

hr {
    border-color: #9DC08B; 
    border-style: dotted none none;
    border-width: 8px;
    width: 5%;
}
img {
    height: 150px;
}


h1 {
    color: #40513B;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.25vw;
    padding-left: 1vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
}

h3 {
    color: #40513B;
}

p {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .8vw;
    letter-spacing: 0.1em;
    padding: 1vw;
}


/********* CLASS SELECTORS **********/
.navbar {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
    color: #40513B;
}

.navbar-med-expanded {
    display: hidden;
}

.navbar-med-collapsed {
    display: hidden;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#navbar-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.hamburger-col {
    width: 20%;
    aspect-ratio: 1 / 1;
    float: left;
    position: relative;
    box-shadow:0px 0px 0px 1px black inset;
    aspect-ratio: 1 / 1; 
    position: relative;
    display: flex;
    margin: auto;
}

#hamburger-img {
    display: none;
}

#hamburger-item {
    color:#40513B;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
}

#hamburger-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slideshow-container {
    width: 60%;
    height: auto;
    margin: auto;
  
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    letter-spacing: 0.5rem;
}

.icon {
    display: none;
}

.mySlides {display: none;}

/* Caption text */
.slide-caption {
    color: #EDF1D6;
    font-size: 1.6vw;
    padding: .5vw;
    position: relative;
    width: 100%;
    text-align: center;
}

.fade {
    animation-name: fade;
    animation-duration: 2.0s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

  /* Number text (1/3 etc) */
.numbertext {
    color: #EDF1D6;
    font-size: 1vw;
    padding: 3vw;
    position: absolute;
    text-align: left;
    top: 0;
  }
  
.thin-text{
      width:8%;
      margin-left: 10px;
      padding: 12px;
      font-family: "forma-djr-display", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2vw;
      -webkit-text-stroke-width: .07vw;
      -webkit-text-stroke-color: #EDF1D6;
      color: #40513B;
  }
  
.welcome-msg{
    position: absolute;
    bottom: 40%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    background-color: #EDF1D6;
    z-index: 300;
      
    color: #40513B;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
    padding-left: 1em;
    border:3px solid black;
}
  
.proj-img {
    margin: auto;
}

/********** Grid Stuff **********/

[class*="col-10"] {
    width: 10%; 
    justify-content: center;
    align-items: center;
    vertical-align: center;
    aspect-ratio: 1 / 1; 
}


.col-20-40 {
    justify-content: center;
    align-items: center;
    vertical-align: center;
    color:#40513B;
    display: flex;
    margin: auto;
    width: 20%;
    aspect-ratio: 2 / 1;
    vertical-align: center;
}
.col-3 {
    width: 40%; 
    aspect-ratio: 2 / 1; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-4 {
    width: 40%; 
    aspect-ratio: 2 / 1; 
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.col-5 {
    width: 10%; 
    aspect-ratio: 1 / 2; 
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.col-6 {
    width: 40%; 
    aspect-ratio: 2 / 1; 
}

.col-5-10 {
    width: 5%; 
    aspect-ratio: 1 / 4; 
}

[class*="col-"] {
    float: left;
    position: relative;
    box-shadow:0px 0px 0px 1px black inset;

}
.col-40-80 {
    width: 40%; 
    aspect-ratio: 2 / 1; 
    position: relative;
    display: flex;
}
.col-10 {
    width: 10%; 
    aspect-ratio: 1 / 2; 
    position: relative;
    display: flex;
}

.col-11 {
    display: none;
}

.col-12 {
    width: 10%; 
    aspect-ratio: 1 / 2; 
    position: relative;
    display: flex;
}

.col-13 {
    width: 5%; 
    aspect-ratio: 1 / 4; 
}

[class*="col-"]:hover {
    float: left;
    position: relative;
    /* border: 1px solid black; */
    background-color: #40513B;
    color:#EDF1D6;
    box-shadow:0px 0px 0px 1px black inset;

}
@media only screen and (max-width: 1000px) {
    .nav-10-20-hidden {
        display: none !important;
        width: 20%;
        aspect-ratio: 1 / 1;
    }
    .nav-10-20-hidden.active {
        display: block !important;
        width: 20%;
        aspect-ratio: 1 / 1;
    }
    .col-10-20 {
      width: 20%;
      aspect-ratio: 1 / 1;
    }
    .col-10-0 {
        display:none;
    }
    .col-20-40 {
        width: 40%;
        aspect-ratio: 2 / 1;
    }

    .col-20-40.active {
        display: none;
    }


    .col-40-80 {
        width: 80%; 
        aspect-ratio: 2 / 1; 
    }
    .col-5 {
        width: 100%; 
        aspect-ratio: 10 / 1; 
    }

    .col-6 {
        width: 80%; 
        aspect-ratio: 2 / 1; 
    }

    .col-5-10 {
        width: 10%; 
        aspect-ratio: 1 / 4; 
    }

    .col-11 {
        width: 10%; 
        aspect-ratio: 1 / 4; 
        display: flex;
    }

    .col-12 {
        display: none;
    }
    
    .col-13 {
        display: none;
    }

    p {
        font-family: "forma-djr-display", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2vw;
        letter-spacing: 0.1em;
        padding: 1vw;
    }
    .nav-item {
        visibility: hidden !important;
    }
    .nav-item.active {
        visibility: visible !important;
    }

    .nav-10-20 {
        width: 20% !important; 
        aspect-ratio: 1 / 1;
    }

    .nav-0-20 {
        width: 20%;
        aspect-ratio: 1 / 1;
        float: left;
        position: relative;
        box-shadow:0px 0px 0px 1px black inset;
        aspect-ratio: 1 / 1; 
        display: flex;
        margin: auto;
    }

    .nav-0-20:hover {
        background-color: #40513B;
    }
    /* .icon {
        color:#40513B;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        font-family: "forma-djr-display", sans-serif;
        font-size: 8vw;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #EDF1D6;
    } */

    .hamburger {
        display: block !important;
        margin: auto;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


.nav-text {
    color:#40513B;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    -webkit-text-stroke-width: .05vw;
    -webkit-text-stroke-color: #EDF1D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/********* ID SELECTORS **********/
.nav-name {
    color:#40513B;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    letter-spacing: -0.12rem;
    font-style: italic;
    font-size: 2em;
    letter-spacing: -0.12rem;
    -webkit-text-stroke-width: .05vw;
    -webkit-text-stroke-color: #EDF1D6;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
#navbar-item {
    color:#40513B;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
} */


#navbar-img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    /* -webkit-filter: drop-shadow(3px 3px 0 #EDF1D6)
                  drop-shadow(-3px -3px 0 #EDF1D6); */
    filter: drop-shadow(2px 2px 0 #EDF1D6) 
          drop-shadow(-2px -2px 0 #EDF1D6);
}

#main-img {
    width: 100%;
    height: 100%;
}

.nav-10-0 {
    float: left;
    position: relative;
    /* border: 1px solid black; */
    box-shadow:0px 0px 0px 1px black inset;
    width: 10%; 
    justify-content: center;
    align-items: center;
    vertical-align: center;
    aspect-ratio: 1 / 1; 
    color:#40513B;
    display: flex;
    margin: auto;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
}

[class*="nav-10"] {
    float: left;
    box-shadow:0px 0px 0px 1px black inset;
    width: 10%; 
    justify-content: center;
    align-items: center;
    vertical-align: center;
    aspect-ratio: 1 / 1; 
    position: relative;
    color:#40513B;
    display: flex;
    margin: auto;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
}

[class*="nav-10"]:hover {
    background-color: #40513B;
}

.nav-item {
    justify-content: center;
    align-items: center;
    vertical-align: center;
    aspect-ratio: 1 / 1; 
    position: relative;
    color:#40513B;
    display: flex;
    margin: auto;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EDF1D6;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 5vw;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}